<!DOCTYPE html>
<html lang="pt-br" {% block html %} data-layout="horizontal" data-sidebar="light" data-sidebar-size="sm-hover" data-preloader="disable" data-theme="minimal" data-topbar="dark" data-bs-theme="wght" data-layout-style="default" data-layout-width="boxed" data-sidebar-image="none" data-layout-position="fixed" {% endblock html %} >

<head>
    <meta charset="utf-8">
    <title>G4 MOBILE | Motorista faturamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Minimal Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='login/images/icons/g4ico.ico') }}" />
    <!-- Fonts css load -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link id="fontsLink" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    {% block css %}
    {% block extra_css %}
    {% endblock extra_css %}

        <!-- Layout config Js -->
        <script src="{{url_for('static' ,filename='js/layout.js')}}"></script>
        <!-- Bootstrap Css -->
        <link href="{{url_for('static' ,filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{{url_for('static' ,filename='css/icons.min.css')}}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{{url_for('static' ,filename='css/app.min.css')}}" rel="stylesheet" type="text/css">
        <!-- custom Css-->
        <link href="{{url_for('static' ,filename='css/custom.min.css')}}" rel="stylesheet" type="text/css">

    {% endblock css %}

</head>

<body>
    <!-- start end layout -->
    <div id="layout-wrapper">

        {% block header %}
            {% include "partials/topbar.html" %}
        {% endblock header %}

        {% block sidebar %}
            {% include "partials/sidebar.html" %}
        {% endblock sidebar %}

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    {% block content %}
                    {% endblock content %}

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {% block footer %}
                {% include "partials/footer.html" %}
            {% endblock footer %}

        </div>
        <!-- end main content-->
    </div>
    <!-- end layout wrapper -->

    {% block extra_content %}
    {% endblock extra_content %}

    <!-- start right sidebar -->

    {% block right_sidebar %}
        {% include "partials/customizer.html" %}
    {% endblock right_sidebar %}

    <!-- end right sidebar -->

    {% block javascript %}

        <!-- JAVASCRIPT -->
        <script src="{{url_for('static' ,filename='libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static' ,filename='libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{url_for('static' ,filename='js/plugins.js')}}"></script>

        {% block extra_js %}
        {% endblock extra_js %}

        <!-- App js -->
        <script src="{{url_for('static' ,filename='js/app.js')}}"></script>
        <script src="{{url_for('static', filename='ajax/upload.js')}}"></script>
    {% endblock javascript %}

</body>
</html>
