<!DOCTYPE html>
<html lang="pt-br" {% block html %} data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg" data-preloader="disable" data-theme="default" data-topbar="light" data-bs-theme="light" {% endblock html %} >

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %} G4-Mobile </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="G4 Mobile - Sistema de Gestão de Faturamento">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static' ,filename='login/images/icons/g4ico.ico')}}">

    <!-- Fonts css load -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link id="fontsLink" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <!-- Layout config Js -->
    <script src="{{url_for('static' ,filename='js/layout.js')}}"></script>
    <!-- Bootstrap Css -->
    <link href="{{url_for('static' ,filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{{url_for('static' ,filename='css/icons.min.css')}}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{{url_for('static' ,filename='css/app.min.css')}}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{{url_for('static' ,filename='css/custom.min.css')}}" rel="stylesheet" type="text/css">
    <style>
        .glass-bg {
      background: linear-gradient(to right, #193257, #7C7C7F);
      backdrop-filter: blur(18px);
      -webkit-backdrop-filter: blur(18px);
      border: none;
      box-shadow: 0 8px 32px #02CDDA;
      padding: 1.5rem;
        }
    </style>


</head>

<body>

    <div class="card mb-0">
        <div class="row g-0 align-items-center">

            <!--end col-->

            {% block content %}

            {% endblock content %}
        </div>
        <!--end row-->
    </div>

    {% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{{url_for('static' ,filename='libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static' ,filename='libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{url_for('static' ,filename='js/plugins.js')}}"></script>


        {% block extra_js %}
        {% endblock extra_js %}

    {% endblock javascript %}

</body>
</html>
