{% extends "pages/account/account_base.html" %}

{% block title %}Cadastrar Nova senha{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 glass-bg">
  <!-- Coluna do formulário -->
  <div class="col-md-6 d-flex align-items-center">
    <div class="card mb-0 border-0 shadow-none w-100" style="border-radius: 20px;">
      <div class="card-body p-sm-5 m-lg-4">
         <div class="alert alert-warning d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Alerta:">
            <use xlink:href="#exclamation-triangle-fill"/>
          </svg>
          <div>
            <strong>Aviso de Segurança:</strong> Por favor, atualize sua senha. Isso ajuda a proteger sua conta contra acessos indevidos.
          </div>
        </div>

        <div class="text-center mt-2">
          <h5 class="fs-3xl">Nova Senha</h5>
        </div>

        <div class="p-2 mt-4">
          <form class="needs-validation" novalidate action="{{ url_for('delivery_app.altera_password') }}" method="POST">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger flashes mb-4 text-center" role="alert">
                    <strong>{{ message }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <div class="position-relative auth-pass-inputgroup mb-3">
                <input
                  type="password"
                  class="form-control pe-5 password-input"
                  name="new_password"
                  placeholder="Digite sua nova senha"
                  id="new-password-input"
                  minlength="8"
                  required
                >
                <button
                  class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                  type="button"
                  id="new-password-addon"
                  data-target="new-password-input"
                >
                  <i class="ri-eye-fill align-middle"></i>
                </button>
                <div class="invalid-feedback">
                  A senha precisa ter pelo menos 8 caracteres, incluindo uma letra maiúscula, um número e um símbolo.
                </div>
              </div>

              <!-- CONFIRMAR SENHA -->
              <div class="position-relative auth-pass-inputgroup mb-3">
                <input
                  type="password"
                  class="form-control pe-5 password-input"
                  name="confirm_password"
                  placeholder="Repita sua nova senha"
                  id="confirm-password-input"
                  minlength="8"
                  required
                >
                <button
                  class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                  type="button"
                  id="confirm-password-addon"
                  data-target="confirm-password-input"
                >
                  <i class="ri-eye-fill align-middle"></i>
                </button>
                <div class="invalid-feedback">
                  As senhas não coincidem.
                </div>
              </div>

            <button class="btn btn-primary w-100 mt-3" type="submit">
              Salvar nova senha
            </button>
          </form>
        </div>

      </div><!-- end card body -->
    </div><!-- end card -->
  </div><!-- end col -->
</div><!-- end row -->
{% endblock content %}

{% block extra_js %}
  <!-- password create init js-->
  <script src="{{ url_for('static', filename='js/pages/passowrd-create.init.js') }}"></script>
{% endblock extra_js %}
