{% extends 'partials/base.html' %}
{% block title %} Invoice List {% endblock title %}

{% block extra_css %}

<!-- Sweet Alert css-->
<link href="{{url_for('static' ,filename='libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block content %}
<!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Fila Dos Motoboys </h4>
        </div>
    </div>
</div>


<!--end row-->
<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead class="table-light">
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <!-- <th>Endereço</th>-->
                <th>Hora Livre</th>
            </tr>
        </thead>
        <tbody>
            {% for motorista in fila %}
            <tr {% if loop.index == 1 %}class="table-primary"{% endif %}>
                <td>
                    {% if loop.index == 1 %}
                        <span class="badge bg-primary">Próximo</span>
                    {% else %}
                        {{ loop.index }}
                    {% endif %}
                </td>

                <td title="{{ motorista.nome }}">
                    {{ motorista.nome[:25] }}{{ '...' if motorista.nome|length > 25 else '' }}
                </td>

               <!-- <td title="{{ motorista.endereco }}">
                    {{ motorista.endereco|default('')|truncate(25, True, '...') }}

                </td>-->

                <td>
                    {% if motorista.hora_livre %}
                        {{ motorista.hora_livre.strftime('%d/%m/%Y, %H:%M:%S') }}
                    {% else %}
                        Não registrado
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-4">

                    <!-- Total de Corridas -->
                    <div class="col-lg-3 col-sm-6 border-end-lg">
                        <div>
                            <div class="d-flex align-items-center gap-2 mb-4">
                                <div class="avatar-xs flex-shrink-0">
                                    <div class="avatar-title bg-body-secondary text-success border border-success-subtle rounded-circle">
                                        <i class="bi bi-cash-coin"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">Total de Corridas</p>
                                </div>
                            </div>
                            <h3 class="mb-0">
                                {{ total_corridas }}
                            </h3>
                        </div>
                    </div>

                    <!-- Receita Bruta -->
                    <div class="col-lg-3 col-sm-6 border-end-sm">
                        <div>
                            <div class="d-flex align-items-center gap-2 mb-4">
                                <div class="avatar-xs flex-shrink-0">
                                    <div class="avatar-title bg-body-secondary text-primary border border-primary-subtle rounded-circle">
                                        <i class="bi bi-graph-up"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">Receita Bruta R$</p>
                                </div>
                            </div>
                            <h3 class="mb-0">
                                R$ {{ "%.2f"|format(receita_bruta) }}
                            </h3>
                        </div>
                    </div>

                    <!-- Comissão -->
                    <div class="col-lg-3 col-sm-6 border-end-sm">
                        <div>
                            <div class="d-flex align-items-center gap-2 mb-4">
                                <div class="avatar-xs flex-shrink-0">
                                    <div class="avatar-title bg-body-secondary text-warning border border-warning-subtle rounded-circle">
                                        <i class="bi bi-percent"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">Comissão</p>
                                </div>
                            </div>
                            <h3 class="mb-0">
                                R$ {{ "%.2f"|format(comissao) }}
                            </h3>
                        </div>
                    </div>

                    <!-- Receita Líquida -->
                    <div class="col-lg-3 col-sm-6">
                        <div>
                            <div class="d-flex align-items-center gap-2 mb-4">
                                <div class="avatar-xs flex-shrink-0">
                                    <div class="avatar-title bg-body-secondary text-success border border-success-subtle rounded-circle">
                                        <i class="bi bi-wallet2"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">Receita Líquida R$</p>
                                </div>
                            </div>
                            <h3 class="mb-0">
                                R$ {{ "%.2f"|format(receita_liquida) }}
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mt-4">
    <div class="card-header">
        <h5 class="mb-0">Corridas na semana</h5>
    </div>

    <div class="card-body">
        {% if corridas %}
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Valor</th>
                            <th>Data/Hora</th>
                            <th>Via</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in corridas %}
                        <tr>
                            <td>R$ {{ "%.2f"|format(c.valor|float) }}</td>

                            <td>
                                {% if c.data_hora %}
                                    {{ c.data_hora.strftime('%d/%m/%Y %H:%M') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                            <td>{{ c.via }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-muted">Nenhuma corrida encontrada no período.</p>
        {% endif %}
    </div>
</div>
<!--end row-->
{% endblock content %}

{% block extra_content %}

<!-- Grids in modals -->


{% endblock extra_content %}


{% block extra_js %}

<!-- CSS do Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- JS do Flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Tradução para PT-BR -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<!-- invoice list-->
<script src="{{url_for('static' ,filename='js/pages/invoice-list.init.js')}}"></script>
<script src="{{ url_for('static', filename='ajax/detalhes.js') }}"></script>
<script src="{{url_for('static', filename='libs/apexcharts/apexcharts.min.js')}}"></script>


<script src="{{url_for('static', filename='js/pages/dashboard-real-estate.init.js')}}"></script>


{% endblock extra_js %}
